.container {
  background: #f0f8ff;
  color: #212121;
  margin: 0;
  padding: 30px;
  min-height: 100vh;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box {
  font-size: 28px;
  max-width: 300px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  background: #2e8b57;
  display: table;
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  box-shadow: 5px 5px 13px 0px rgba(34, 60, 80, 0.6);
  margin: 10px;
  padding: 10px 20px;
}

::-webkit-input-placeholder {
  color: white;
}

.button {
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  background: #987654;
  display: table;
  color: white;
  font-size: 28px;
  box-shadow: 5px 5px 13px 0px rgba(34, 60, 80, 0.6);
  margin: 10px;
  cursor: pointer;
}

.gallery {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-card {
  min-width: 300px;
  max-width: 450px;
  border: 1px solid white;
  background: -webkit-linear-gradient(90deg, #edefee, #c9c9c9);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 13px 0px rgba(34, 60, 80, 0.6);
}

.photo-card img {
  border-radius: 10px;
  width: 300px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-item {
  font-size: 16px;
  margin: 5px;
}

.info-item b {
  margin-right: 5px;
}

.hide {
  display: none;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.wrapper-btn .button {
  width: 310px;
}
